<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <h1 class="mx-auto w-auto text-center text-4xl font-black">Westetics</h1>
    <h2 class="text-center text-2xl font-bold leading-9 tracking-tight">Conecte-se à sua conta</h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form class="space-y-6" [formGroup]="loginForm" (ngSubmit)="onSubmitLogin($event)" >
      <div *ngIf="wrongPasswordError" class="w-full flex items-center py-4 px-5 bg-red-100 rounded-md">
        <fa-icon class="text-red-600" [icon]="faCircleXmark" size="lg"></fa-icon>
        <div class="flex flex-col ml-2 ">
          <span class="text-red-600 text-sm mb-0 leading-4">Usuário ou senha incorreta.</span>
          <span class="text-red-600 text-sm font-semibold leading-4">Tente novamente.</span>
        </div>
      </div>

      <div>
        <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Email</label>
        <div class="mt-2">
          <input formControlName="email" id="email" name="email" type="email" autocomplete="email" required class="block w-full px-2 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        </div>
      </div>

      <div>
        <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Senha</label>
        <div class="mt-2">
          <input formControlName="password" id="password" name="password" type="password" autocomplete="current-password" required class="block px-2 w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        </div>
      </div>

      <div>
        <button type="submit" [disabled]="this.loginForm.invalid" class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 disabled:bg-indigo-300">Entrar</button>
      </div>
    </form>
  </div>
</div>
